<nav class="navi">
  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link" href="/">TripSpace</a></li>
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/groups">Groups</a></li>
    {% if session.logged_in %}
      <li class="nav-item" style="float: right;"><a class="nav-link" href="/logout">Logout</a></li>
      <li class="nav-item nav-username" style="float: right;"><a class="nav-link" href="/dashboard">{{ session.username }}</a></li>
    {% else %}
      <li class="nav-item" style="float: right;"><a class="nav-link" href="/signup">Signup</a></li>
      <li class="nav-item" style="float: right;"><a class="nav-link" href="/login">Login</a></li>
    {% endif %}
  </ul>
</nav>
