<nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/">TripSpace!!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/groups">Groups</a>
          </li>
        </ul>
        <ul class=navbar-nav mr-auto navbar-right>
          {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/dashboard">{{current_user.username}}</a></li>
            <li class="nav-item">
              <a class="nav-link" onMouseOver="this.style.color='black'" href="/logout">Log out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign-up</a>
            </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-md-0"
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </nav>
