html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
body {
  /*background-image: url("../images/pexels-photo.jpg");
  background-size: 210%;*/
  /* background-image: url("../images/circles-light/circles-light/circles-light.png"); */
  /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
  /* font-family: 'Amaranth', sans-serif; */

  /* background: linear-gradient(to right bottom, #b3b3b3, #333333) fixed; */
  background: lightsteelblue;
  padding-bottom: 8rem;
}
/* .homeContainer {*/
/*   background-image: url(../images/download.jpg);*/
/*   background-size: 75%;*/
/*   background-repeat: no-repeat;s*/
/*   margin-left: -1.5%;*/
/*}*/
.help-inline {
  display: inline;
}
input {
  font-family: sans-serif;

}
::-webkit-input-placeholder {
  padding-left: 1.5%;
}
:-ms-input-placeholder {
  padding-left: 1.5%;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1.5rem;
}
th {
  background: grey;
  color: white;
}
.photo-credit-line {
  margin-left: 4%;
}
.titleInPic {
  position: absolute;
  top: 20%;
  left: 33%;
  font-weight: 900;
}
.flashMessage {
  margin-top: 8%;
  margin-left: 4%;
  background-color: lightgoldenrodyellow;
  padding: 2%;
  border-radius: .5rem;
  margin-right: 3%;
  /* color: white;  */
  text-align: center;
  font-weight: 700;
  font-size: 1.15rem;
}
.groupFlash {
  margin-left: 30%;
  margin-right: 30%;
}
.alert {
  padding: 1.25%;
  border-radius: .5rem;
  color: white;
  margin-bottom: 1%;
  width: 85.5%;
  margin-left: 5.8%;
  font-size: 1.4rem;
  text-align: center;
}
.picCredit {
  margin-left: 4%;
  font-size: .88rem;
}
.success {
  margin-top: 1%;
  background-color: green;
}
.error {
  background-color: red;
}
.formError {
  background-color: #ff5656;
  padding: .5%;
  border-radius: .35rem;
  color: white;
  margin-bottom: 1%;
  margin-top: -.65%;
  width: 44.2%;
}
/* nav styling */
.nav-list{
  position: absolute;
  top: -2.2%;
  left: -1%;
  width: 101%;
  height: auto;
  list-style-type: none;
  padding: 0;
  /* background: #343a40; */
  background: black;
  max-height: 2.5rem;
  z-index: 9999;
}
.navSubList {
  list-style-type: none;
  display: none;
  z-index: 9999;
}

.navSubList:hover {
  display: block;
}
.nav-item {
  text-align: center;
  float: left;
  padding: 1% 1.2%;
  border-radius:.25rem;
}
.nav-link {
  display: block;
  color: whitesmoke;
  font-size: 1.12rem;
  font-family: rakkas;
  text-decoration: none;
}
.nav-item:hover {
  color: white;
  background: SlateGrey;
  border-radius: 1%;
}
.nav-item:active {
  color: white;
  background: green;
  border-radius: 1%;ho
}
.subLink {
  margin-left: -40%;
}
.groupDiv {
  margin-top: 2% 1%;
}
/* Home page */

/* pageContainer */
.pageContainer {
  margin: 5% 2.8%;
}
/* Dashboard */
/* .infoTitles {
  font-size: 2rem;
}
.dash {
  border: 3px solid black;
  margin: 2.5%;
  padding: 2%;
} */

/* Inputs and Submit buttons*/
.buttonList{
  margin-bottom: 3.5%;
}
.homeButtons {
  color: whitesmoke;
  background: #2c5ba5;
  padding: 2% 2.5%;
  margin: 4% 3%;
  border-radius: .5rem;
  position:absolute;
}
.signBut{
  background:#236337;
}
.logBut {
  margin-left: 26%;
}
.sign-logInput {
  width: 75%;
  border-radius: .5rem;
  height: 1.9rem;
  margin-bottom: .8%;
  background: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
}
.sign-logSubmit {
  margin-top: 5%;
  border-radius: .5rem;
  background: #2c5ba5;
  padding: .75% 1%;
  color: whitesmoke;
}
.logBut:hover {
  background: #4a7dcf;
}
.sign-logSubmit:hover {
  background: #4a7dcf;
}
.deleteButton {
  padding: .75% 1%;
  background: red;
  border-radius: .5rem;
}
/* Home Page  */
.nameDiv {
  text-align: center;
}
.subtitleDiv {
  display: block;
  text-align: center;
}
.top-page-pic, .home-page-pic {
  border-radius: .5rem;
}
.top-page-pic {
  margin-left: 4%;
}
.home-page-pic {
  width:60%;
}
.homeInfo {
  font-size: 1.5rem;
  font-weight: 700;
  width: 35%;
  margin-left: 65%;
  margin-top: -25%;
}

/* Dashboard */
.hiddenPends {
  display: none;
}
.leaveGroupModal, .leaveGroupAdModal {
  display: none;
  position: fixed;
  width: 35%;
  height: auto;
  left: 29%;
  top: 25%;
  color: white;
  padding: 2.5%;
  border-radius: .5rem;
  background: #516991;
  z-index: 9999;
}
.dashTables, table{
    background: lightgoldenrodyellow;
    font-size: 1.25rem;
    font-weight: 600;
}
.groupAdDelName, .accountNameModal, .editAccNameModal {
  font-weight: 700;
  background: #516991;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 8%
}
.yesNoBut {
  padding: 3% 4%;
  font-size: 1.05rem;
  margin-left: 10%;
  margin-top: 5%;
}
.modalHeader {
  margin-bottom: -2%;
}

/* Grt group members page */
.groupMemList {
  width:50%;
  background: whitesmoke;
  overflow-y: scroll;
  height: 6rem;
  padding: 2%;
  border-radius: .5rem;
  list-style-type: none;
}
.groupMemsHeader {
  font-size: 3rem;
  font-weight: 900;
}
.memberListName {
  width:85%;
}
.memRemoveButton {
  padding: 1.15%;
  float: right;
  background: cadetblue;
  border-radius: .5rem;
    /* font-weight: 550; */
  color: whitesmoke;
}
.memberListFullName {
  margin-top: -2%;
  border-bottom: 1.5px solid;
}
.memberInfo {
  font-size: .75rem;
  margin: -2%;
  text-decoration: underline;
}
.memberToRemove {
  font-weight: 900;
  font-size: 1.25rem;
  text-align: center;
}
.pendModName {
  text-decoration: underline;
}
.pendModLoc {
  margin-top: 18%;
}

/*Calendar*/
.calendar {
  text-align: center;
  width: 90%;
  height: 70%;
  position: fixed;
  right: 4%;
  top: 25%;
  table-layout: fixed;
  background: lightsteelblue;
}
.calDay {
  position: relative;
  background: burlywood;
  border: 1px solid;
  font-size: 1.1rem;
  width: 14.285%;
  text-align: left;
  height: auto;
  min-height: 17.5%;
  /* text-shadow: 3px 2px white; */
}

.dayTable  {
  position: sticky;
  table-layout: fixed;
  top: 25%;
  margin-bottom:15%;
}
.weekTable {
  position: absolute;
  table-layout: fixed;
  top: 31.5%;
  left: 1.9%;
  width:96%;
  display:block;
  height: 65%;
  overflow:auto;
}
.weekTable {
  display:table;
  width:96%;
  table-layout:fixed;/* even columns width , fix width of table too*/
  margin-top: .6%;
}
.weekTableH {
  table-layout: fixed;
  width: 96%;
  position: absolute;
  top: 20%;
  left: 2%;
}
table, .chat ::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.weekCell, .weekHead {
  height: 75px;
  background: cadetblue;
}
.weekTableHour {
  width: 5rem;
  background: burlywood;
}
.weekHeadTitle {
  background: whitesmoke;
  color: black;
}
.dayCalRow {
  background: burlywood;
}
.daySpan {
  position: absolute;
  top: 0;
}
.weekDiv {
  display: none;
}
.dayWeekDate {
  display:block;
}
.dayNoteEditName {
  position: absolute;
  top: 17.5%;
  text-align: left;
  margin-top: 10%;
  font-weight: 800;
  margin-bottom: 8%;
  margin-left: -3%;
  font-size: 1.25rem;
}
.noteForm {
  margin-top: 30%;
}
.dayNoteDate {
  position: absolute;
  top: 2%;
  background: #516991;
  border: none;
  border-radius: 1rem;
  padding: 1%;
  color: white;
  font-size: 1.75rem;
  text-align: center;
  padding-left: 5%;
  font-family: revert;
  width: 50%;
}
.dayViewText {
  color: white;
  display: inline-block;
  margin-left: 2%;
  text-decoration: none;
  /* overflow-x: auto; */
}
.weekTextDiv {
  text-decoration: none;
}
/* .dayNoteText {
  padding: 3% 1% 3% 1%;
  background: burlywood;
  width: 20%;
  margin-left: 10%;
  margin-top: -2.75%;
  border-radius: .5rem;
} */
.pendModName {
  position: absolute;
  top: 0;
}
.modal, .expenseAllModal, .expenseOneModal, .noteModal, .deleteAccountModal, .editAccountModal, .editGroupModal, .editNoteModal, .pendModal, .removeMemberModal, .editLodPinModal, .editRestPinModal, .editTransPinModal, .editActPinModal, .deleteLodPinModal, .deleteRestPinModal, .deleteTransPinModal, .deleteActPinModal{
  display: none;
  position: fixed;
  width: 60%;
  height: auto;
  left: 17%;
  top: 25%;
  color: white;
  padding: 2.5% 5%;
  border-radius: .5rem;
  background: #516991;
  z-index: 9999;
  overflow-y:scroll;
}
.pendModal {
  font-weight: 900;
}
.cornerX {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  border-radius: .25rem;
}
.noteModal, .deleteAccountModal, .editAccountModal {
  padding: 5%;
  height: auto;
}
.calModalTitle {
  margin-left: 24%;
}

.editGroupModal {
  padding: 3%;
  width: 50%;
  top: 10%;
  left: 25%;
}
.editGroupLoc, .editGroupDesc, .editGroupEnd, .editGroupStart, .editGroupName, .editGroupUserPass, .editGroupGroupPass {
  width: 90%;
  border-radius: .5rem;
  height: 1.9rem;
  margin-bottom: .8%;
  background: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
}
.modInput{
  width:85%;
  border-radius: .5rem;
  height: 1.9rem;
  margin-bottom: .8%;
  background: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
}
.editAccountModal {
  top: 12%;
}

.noteFlash {
  background: lightgoldenrodyellow;
  border-radius: .5rem;
  margin-left: 1%;
  padding: 1%;
  width:26%;
  font-size: .7rem;
}
.monthNoteButton {
  padding: 1.5%;
  background: cadetblue;
  display: none;
  font-size: .6rem;
}
.calNoteName {
  display: block;
  width: 85%;
  padding: .5rem;
  border-radius: .5rem;
  margin-top: 3%;
}
.noteTime {
  margin-top: 3%;
}
.submitNote, .cancelEditNote, .editNote, .closeNote, .submitEditNote {
  margin-top: 3%;
  padding: 1.5%;
}
.cancelNote {
  padding: 1.38%;
}
.calModalTitle {
  position: absolute;
  top: 12%;
  margin-top: 6%;
}
.noteNameModal, .noteTimeModal, .noteLengthModal, .noteDateModal {
  margin-top: -6.5%
}
.noteNameModal {
  margin-top: 3%;
}
.noteTimeModal, .noteLengthModal {
  font-size: 1.45rem;
  margin-top:2%;
}
.calTableTr {
  float: left;
  display: block
}
.dayCalTextArea {
  width: 11rem;
  background: cadetblue;
}
/* .dayCalRow:hover {
  height: 150px;
} */
.dayDiv {
  height: 80%;
  overflow-y: auto;
  position:absolute;
  left: 10%;
  top:10rem;
  width: auto;
}
.moreButton {
  position: absolute;
  bottom: 2%;
  left: 5%;
  font-size: .55rem;
  text-decoration: none;
  color: wheat;
  background: black;
  border-radius: .5rem;
  padding: 1.5%;
  line-height: .75rem;
  height: .75rem;
}

.clicker {
  display; block;
  width: 100%;
}
.calInfo {
  display: none
}
.dayText, .firstDay, .lastDay {
  position: absolute;
  background: black;
  font-size: .6rem;
  padding: 2.725%;
  margin-left: 10%;
  border-radius: .25rem;
  border: white 1px;
  margin-bottom: 2%;
  width: 82%;
  color: wheat;
  line-height: .65rem;
  height: .75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  display: block;
  top: 35%;
}
.buttonDiv {
  display: flex;
  justify-content: flex-start;
  margin-top: -.5%;
  font-weight: 900;
}
.weekTextDiv {
  font-size: .75rem;
  width: 82%;
  color: wheat;
  line-height: .65rem;
  height: .75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: black;
  border-radius: .25rem;
  padding: 2.5%;
}
.prevButton, .prevWeekButton{
  position: absolute;
  left: 12%;
  top:15%;
}
.nextButton, .nextWeekButton {
  position: absolute;
  left: 47%;
  top:15%;
}
.prevWeekButton, .nextWeekButton {
  top: 13%;
}
.nextWeekButton {
  left:45%;
}
.blankDay {
  border: 1px solid black;
  background-color: lightgray;
}
.dayTitle {
  position: fixed;
  top: 14%;
  left: 17.5%;
  font-size: 1.65rem;
}
.gPageCalButton {
  font-size: 2rem;
  margin-top: 2.5%;
}
.weekMonthTitle {
  position: absolute;
  left: 17%;
  font-size: 1.5rem;
  top: 14%;
}
.pinEdButton {
  width: 14%;
  border-radius: .5rem;
  background: #2c5ba5;
  color: whitesmoke;
  padding: 1% 1.15%;
}
.calTitle {
  position: fixed;
  top: 15%;
  font-size: 1.65rem;
  left: 20%;
}
.calForm {
  overflow-wrap: break-word;
}
#month_items {
  position: absolute;
  right: 1%;
  top: 6%;
  width: 16%;
  height: 3.5%;
  border-radius: .5rem;
  text-align: center;
  background: whitesmoke;
}
.yearSelect {
  position: absolute;
  right: 1%;
  top: 10%;
  width: 16%;
  height: 3.5%;
  border-radius: .5rem;
  text-align: center;
  background: whitesmoke;
}
.dayRow {
  position: relative;
  height: 2.5%;
}
.dayRowTitle {
  position: absolute;
  top: 0;
  font-size: .7rem;
}
/* Groups page */
.cancelDeleteLodModal, .submitDeleteLodModal {
  padding: 1% 2.5%
}
.groupList {
  margin: 2% 4%;
  list-style-type: none;
}
.noGroups {
  margin: 2% 4%;
}
.groupList {
  list-style-type: none;
}
.groupButton {
  /* background: linear-gradient(#103b56, #2894d7); */
  background: whitesmoke;
  border-radius: 6px;
  color: black;
  padding: 1% 5%;
  text-decoration: none;
  margin-left:2%;
  height: 8%;
}
.finalDeleteButtons {
  padding: .45% 1.8%;
  background: SlateGrey;
  border-radius: 5px;
  margin-left: 2%;
  border: none;
}
.finalDeleteButtons:hover {
  background: #CDFEAA;
  text-decoration: underline;
  color: #000099;
}
.calendarDiv {
  display: flex;
  justify-content: space-around;
}
.groupViewButton {
  position: absolute;
  right: 1%;
  top: 14%;
  background: whitesmoke;
  border-radius: .5rem;
  background: whitesmoke;
  border-radius: .5rem;
  width: 13%;
  padding: .25% 1.5%;
  /* text-decoration: none; */
  color: black;
  font-weight: 900;
}
.noButton {
  padding: .5% 2%;
  background: SlateGrey;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 2%;
}
.pinSubmit:hover {
  background: #4a7dcf;
}
/* Group page styling small screen */
.userNameHid {
  display:none;
}
.groupDiv{
  margin-top: 6%;
}
.pinHeader {
  text-decoration: underline;
  margin-bottom: -2.5%;
}
.pinImage {
  margin-bottom: -8%;
}
#groupHeader {
  border-radius: 8px;
  /* background: linear-gradient(#004466, #66ccff); */
  background: dimgray;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 1.5% 6% 2% 2%;
  border: outset 1px;
  border-radius: 2%;
  height: auto;
  text-align: center;
}
.pinP {
  font-size: 1.5rem;
}
.groupHeadDesc{
  font-size: 2.15rem;
  overflow-wrap: break-word;
}
.pinTitle {
  font-size: 2.5rem;
  margin: 1%;
  padding: 1.5%;
}
.pinHeader {
  color: darksalmon;
}
.chat {
  /* background: linear-gradient(#004466, #66ccff); */
  background:black;
  margin: 2% 3%;
  height: 29rem;
  position: relative;
  border: outset 1px;
  overflow-y: auto;
  border-radius: 12px 12px 0px 0px;
  padding: 3px;
}
#message {
  float: left;
  width: 74.5%;
  margin-left: 3%;
  margin-top: -2%;
  border-radius: 0 0 0 .75rem;
  height: 3.42rem;
  background: whitesmoke;
}
#message:focus {
  outline: none;
}
#sendChat {
  width: 18%;
  margin-top: -2%;
  border: none;
  height: 3.78rem;
  border-radius: 0 0 .75rem;
}
#sendChat:focus {
  outline: none;
}
#chat_message {
  /* background: #e6f0c7; */
  background: lightgoldenrodyellow;
  margin: 12px 12px 12px 12px;
  padding: 12px 0px 12px 12px;
  /*color: white;*/
  font-family: aclonica;
  font-size: 94%;
  border-radius: 15px;
  word-wrap: break-word;
}
.noPinDiv{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 3% 2%;
  margin-left: 3.7%;
  margin-bottom: 2%;
  width: 91.5%;
  /* background: linear-gradient(#004466, #66ccff); */
  background: whitesmoke;
  color: white;
  border: outset 1px;
  border-radius: 19px;
  position: relative;
}
.noPinLink {
  color: darkblue;
}
.pinLink {
  color: darkblue;
}
.formErrorPin {
  width: 89%;
  margin-left: 5%;
  margin-top: .5%;
}
.pinList {
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 1%;
  margin-bottom: 2%;
  margin-left: 4%;
  width: 92%;
  /* background: linear-gradient(#004466, #66ccff); */
  background: whitesmoke;
  color: black;
  border: outset 1px;
  border-radius: 15%;
  position: relative;
  text-align: center;
  transition: 2s ease;
}
 /* .pinList:nth-child(even) {
  background: black;
  color: whitesmoke;
} */
.pinnerForm {
  margin-top: 3.5%;
}
.pinInput {
  border-radius: 6px;
  width: 75%;
  border: inset 1px;
  background: whitesmoke;
}
.pinSubmit {
  color: white;
  background: #2c5ba5;
  width: 51%;
}
#online {
  padding-left: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3% solid SlateGrey;
  /* background: linear-gradient(#004466, #66ccff);); */
  background: black;
  color: whitesmoke;
  overflow-y: auto;
  border-radius: 12px 12px 12px 12px;
  list-style-type: none;
  width: 40%;
  height: 9rem;
  margin-left: 30%;
}
.membersBox {
  padding-left: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3% solid SlateGrey;
  /* background: linear-gradient(#004466, #66ccff); */
  background: whitesmoke;
  color: black;
  overflow-y: auto;
  border-radius: 12px 12px 12px 12px;
  list-style-type: none;
  width: 40%;
  height: 9rem;
  margin-left: 30%;
}
.membersTitle {
  margin-right: 5%;
  margin-bottom: 3%;
}
.onlineTitle {
  margin-right: 5%;
  margin-bottom: 3%;
}
.pinFormTitle {
  margin: 3%;
}
.groupFooter {
  margin: 8% 3%;
  font-size: .88rem;
}
.descriptionPin:hover {
  height: 3.5rem;
}
.descriptionPin:focus {
  height: 3.5rem;
}
.pinInput{
  width: 90%;
  height: 1.5rem;
}
.groupHeading {
  margin-top: 10.5%;
}
.descriptionPin{
  width: 89%;
  height: 1.85rem;
  margin-bottom: -.32%;
}
.pinSubmit {
  width: 90%;
  height: 2rem;
}
.memListItem {
  padding-top: 3%;
}
.onlineMember {
  padding-top: 3%;
}
.calculatorResults {
  border: none;
}
.calcDiv {
  text-align: center;
  margin: 1% 3%;
}
.resultTitle {
  background: #d6d6c2;
  padding: 2%;
  border-radius: .5rem;
}
.calculatorResults, .grandTotal {
  background: #a3a375;
  padding: 2%;
  border-radius: .5rem;
  color: black;
  /* word-wrap: breakword; */
  height: auto;
  width: auto;
  list-style-type: none;
  margin-top: 1.5%;
}
.calculatorResults {
  margin-left: -9%;
}
.resultList {
    list-style-type: none;
}
.results, .totalResult {
  display: none;
}
#calcSubmit {
  width: 45%;
  padding: 2%;
  font-size: .95rem;
}
.expenseDelete {
  width: 45%;
  padding: 1% 1% 3% 1%;
  font-size: 1.05rem;
  color: white;
  background: #775249;
  margin-top: 5%;
  margin-left: 27.5%;
}
.deleteX {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1%;
  margin: 1%;
  font-size: 1.15rem;
  margin-top: -1.5%;
  text-decoration: none;
  float: right;
  color:#632212;
  background: burlywood;
  float: right;
  border: none;
}
.deleteX:hover {
  text-decoration: underline;
}
.budgetInput {
  margin-left: 25%;
}
.budgetSubmit, .budgetSubmit2 {
  margin-left: 35%;
  width: 25%;
}
.budgetSubmit2 {
  margin-top: 5%;
}
.finTitle {
  text-align: center;
}
.budget {
  width:75%;
  margin-left: 10%;
  text-align: center;
  background: dimgray;
}
.budgetForm {
  display:none;
}
.displayExName {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
}
.displayTots, .extras {
  text-align: center;
}
.displayExDiv {
  position:relative;
  margin-top: 2%;
  background: burlywood;
  padding: 2%;
  border-radius: .5rem;
  text-align: center;
  padding-bottom: 6.5%;
}
.expModalTitle {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10%;
}
.yesExpAll, .noExpAll, .yesExpOne, .noExpOne {
  font-size: 1.25rem;
  padding: 2%;
  margin-left:10%;
}
.resultsTitle {
  text-align: center;
}
.displayTotNum {
  text-align: center;
  background: burlywood;
  width: 60%;
  margin-left: 18%;
  padding: 3%;
  border-radius: .5rem;
  margin-top: 2%;
}
.budget{
  font-size: 2rem;
}
/*  Create new group page*/
.groupImgHeader {
  margin-bottom: 3%;
  padding: .6%;
  background: burlywood;
  width: auto;
  border-radius: .5rem;
}
.groupImgUploader {
  background: cadetblue;
  height: 5%;
  width: 45%;
  font-size: 1rem;
}
.memListItem {
  font-size: 1.25rem;
  font-weight: 700;
}
.groupHeadDesc {
  font-weight: 700;
}
.onlineMember {
  font-size: 1.25rem;
  font-weight: 600;
}

@media only screen and (min-width: 26rem) {
  .dayCalTextArea {
    width: 16rem;
  }
  .dayRowTitle {
    font-size: 1.1rem;
  }
  #message {
    width: 80%;
  }
  #sendChat {
    width: 13%;
  }
}
@media only screen and (min-width: 33rem) {
  .dayCalTextArea {
    width: 25rem;
  }
  .noteFlash {
    font-size: .85rem;
  }
}
@media only screen and (min-width: 47rem){
  .noteFlash {
    font-size: 1rem;
  }
  .monthNoteButton {
    display: block;
    position:absolute;
    top: 0;
    right: 0;
  }
  .dayCalTextArea {
    width: 34rem;
  }
  .flashMessage {
    margin-top: 6%;
  }
  .sign-logInput {
    width: 45%;
  }
  .calcName {
    width: 65%;
  }
  .dashTables {
    font-size: 1rem;
  }
  /*Group page*/
  .groupDiv {
    width: 56%;
    margin-right: 1.5%;

  }
  .chatLabel {
    position: fixed;
    top: 1.5%;
    left: 73%;
  }
  .chat{
    position: fixed;
    height: auto;
    left: 59%;
    right: 0%;
    top: 15%;
    bottom: 7.5%;
    margin: 0%;
  }
  #message {
    position: fixed;
    left: 59%;
    width: 32.65%;
    margin: 0%;
    border-radius: 0 0 0 .75rem;
    height: 4rem;
    bottom: 0%;
  }
  #sendChat {
    position: fixed;
    right: 0%;
    bottom: 0%;
    height: 4.4rem;
    width: 8%;
  }
  .groupFooter{
    left: -4%;
  }
  .calTitle {
    font-size: 2rem;
    /* left: 33.5%;
    top: 18%; */
  }
}
@media only screen and (min-width: 53rem) {
  .dayCalTextArea {
    width: 40rem;
  }
  .modal {
    width: 35%;
    left: 23.5%;
  }
  .modal, .expenseAllModal, .expenseOneModal, .noteModal, .deleteAccountModal, .editAccountModal, .editGroupModal, .editNoteModal, .pendModal, .removeMemberModal {
    width: 40%;
    left: 30%;
  }
}
@media only screen and (min-width: 70rem){
  .modal {
    width: 25%;
  }
  .dayCalTextArea {
    width: 55rem;
  }
  .signBut {
    margin-left: 10%;
  }
  .picDiv{
    float: right;
  }
  .groupDiv {
    margin-left: 25%;
    width: 44%;
  }
  .chatLabel {
    left: 80%;
    top: 1%;
  }
  .chat {
    left: 71%;
  }
  #message {
    left: 71.0%;
    width: 24%;
  }
  #sendChat {
    width: 5%;
  }
  .onlineTitle {
    position: absolute;
    left: .2%;
    top: 1%;
  }
  #online {
    position: absolute;
    width: 15%;
    left: -27%;
    top: 11%;
    position: absolute;
  }
  .membersTitle {
    position: absolute;
    left: .2%;
    top: 35%;
    width: 22%;
  }
  .membersBox {
    position: absolute;
    width: 15%;
    left: -27%;
    top: 51.5%;
  }
  .pinnerForm {
    margin-top: 3%;
    width: 25%
  }
  #rentalPin {
    position: absolute;
    left: .5%;
    top: 75%;
  }
  #restPin {
    position: absolute;
    left: .5%;
    top: 137%;
  }
  #transpoPin {
    position: absolute;
    left: .5%;
    top: 193%;
  }
  #activityPin {
    position: absolute;
    left: .5%;
    top: 254%;
  }
  .groupFooter {
    font-size: 1.05rem;
  }
  .pinFormTitle {
    font-size: 2em;
    margin-right: 7%;
  }
}
@media only screen and (min-width: 76rem) {
    #message {
      height: 4.15rem;
    }
    #sendChat {
      height: 4.55rem;
    }
    .dayCalTextArea {
      width: 65rem;
    }
}
@media only screen and (min-width: 82rem) {
    .dayCalTextArea {
      width: 70rem;
    }
}
