html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
body {
  /*background-image: url("../images/pexels-photo.jpg");
  background-size: 210%;*/
  background-image: url("../images/circles-light/circles-light/circles-light.png");
  /* font-family: 'Amaranth', sans-serif; */
  padding-bottom: 8rem;
}
/* .homeContainer {*/
/*   background-image: url(../images/download.jpg);*/
/*   background-size: 75%;*/
/*   background-repeat: no-repeat;s*/
/*   margin-left: -1.5%;*/
/*}*/
.help-inline {
  display: inline;
}
input {
  font-family: 'Space Mono', monospace;

}
::-webkit-input-placeholder {
  padding-left: 1.5%;
}
:-ms-input-placeholder {
  padding-left: 1.5%;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1.5rem;
}
th {
  background: #42914a;
}
.homePic {
  margin-top: 15%;
  width: 100%;
  border-radius: .7rem;
}
.flashMessage {
  margin-top: 8%;
  margin-left: 4%;
  background-color: #bc522f;
  padding: 2%;
  border-radius: .5rem;
  margin-right: 3%;
  color: white;
  text-align: center;
}
.groupFlash {
  margin-left: 30%;
  margin-right: 30%;
}
.alert {
  padding: 1.25%;
  border-radius: .5rem;
  color: white;
  margin-bottom: 1%;
  width: 85.5%;
  margin-left: 5.8%;
}
.success {
  background-color: green;
}
.error {
  background-color: red;
}
.formError {
  background-color: #ff5656;
  padding: .5%;
  border-radius: .35rem;
  color: white;
  margin-bottom: 1%;
  margin-top: -.65%;
  width: 44.2%;
}
/* nav styling */
.nav-list{
  position: absolute;
  top: -2.2%;
  left: -1%;
  width: 101%;
  height: auto;
  list-style-type: none;
  padding: 0;
  background: #343a40;
}
.nav-item {
  text-align: center;
  float: left;
  padding: 1% 1.2%;
}
.nav-link {
  display: block;
  color: white;
  font-size: 1.12rem;
  font-family: rakkas;
  text-decoration: none;
}
.nav-item:hover {
  color: white;
  background: SlateGrey;
  border-radius: 1%;
}
.nav-item:active {
  color: white;
  background: green;
  border-radius: 1%;ho
}
.groupDiv {
  margin-top: 2% 1%;
}
/* Home page */

/* pageContainer */
.pageContainer {
  margin: 5% 2.8%;
}
/* Dashboard */
.infoTitles {
  font-size: 2rem;
}
.dash {
  border: 3px solid black;
  margin: 2.5%;
  padding: 2%;
}
.dashTables {
  font-size: .835rem;
}
/* Inputs and Submit buttons*/
.buttonList{
  margin-bottom: 3.5%;
}
.homeButtons {
  color: white;
  background: #2c5ba5;
  padding: 2% 2.5%;
  margin: 1% 6%;
  border-radius: .5rem;
}
.signBut{
  background:#236337;
}
.logBut {
  margin-left: 26%;
}
.sign-logInput {
  width: 75%;
  border-radius: .5rem;
  height: 1.9rem;
  margin-bottom: .8%;
}
.sign-logSubmit {
  border-radius: .5rem;
  background: #2c5ba5;
  padding: .75% 1%;
  color: white;
}
.logBut:hover {
  background: #4a7dcf;
}
.sign-logSubmit:hover {
  background: #4a7dcf;
}
.deleteButton {
  padding: .75% 1%;
  background: red;
  border-radius: .5rem;
}
/*Calendar*/
.calendar {
  text-align: center;
  width: 90%;
  height: 85%;
  position: fixed;
  right: 4%;
  top: 12%;
}
.calDay {
  background: linear-gradient(#846f63, #8e4d27);
  border: 1px solid;
  font-size: 1.35rem;
  width: 14.285%;
  text-align: left;
  overflow-y: auto;
  /* text-shadow: 3px 2px white; */
}
.calDay:hover {
  border-radius: .5rem;
  width: 20%;
}
.clicker {
  display; block;
  width: 100%;
}
.calInfo {
  display: none
}
.dayTitle {
  font-size: .85rem;
  text-align: center;
  margin-top: -20%;
}
.calDay:hover .dayText {
  font-size: 2rem;
}
.blankDay {
  border: 1px solid black;
  background-color: #7e6ff3;
}

.calTitle {
  position: fixed;
  top: 5.5s%;
  font-size: 2rem;
  right: 52%;
}
.calForm {
  overflow-wrap: break-word;
}
#month_items {
  position: fixed;
  right: 21%;
  top: 9%;
  width: 24%;
  height: 3.5%;
  border-radius: .5rem;
  text-align: center;
}
/* Groups page */
.groupList {
  margin: 2% 4%;
  list-style-type: none;
}
.noGroups {
  margin: 2% 4%;
}
.groupList {
  list-style-type: none;
}
.groupButton {
  background: linear-gradient(#103b56, #2894d7);
  border-radius: 6px;
  color: white;
  padding: 1% 5%;
  text-decoration: none;
}
.finalDeleteButtons {
  padding: .45% 1.8%;
  background: SlateGrey;
  border-radius: 5px;
  margin-left: 2%;
  border: none;
}
.finalDeleteButtons:hover {
  background: #CDFEAA;
  text-decoration: underline;
  color: #000099;
}
.noButton {
  padding: .5% 2%;
  background: SlateGrey;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 2%;
}
.pinSubmit:hover {
  background: #4a7dcf;
}
/* Group page styling small screen */
.groupDiv{
  margin-top: 6%;
}
#groupHeader {
  border-radius: 8px;
  background: linear-gradient(#b3b3ff, #0000cc);
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 1.5% 6% 2% 2%;
  border: outset 1px;
  border-radius: 2%;
  height: auto;
  text-align: center;
}
.groupHeadDesc{
  font-size: 2.15rem;
  overflow-wrap: break-word;
}
.pinTitle {
  font-size: 2.5rem;
  margin: 1%;
  padding: 1.5%;
}

.chat {
  background: linear-gradient(#0d0d0d, #808080);
  margin: 2% 3%;
  height: 29rem;
  position: relative;
  border: outset 1px;
  overflow-y: auto;
  border-radius: 12px 12px 0px 0px;
  padding: 3px;
}
#message {
  float: left;
  width: 74.5%;
  margin-left: 3%;
  margin-top: -2%;
  border-radius: 0 0 0 .75rem;
  height: 3.42rem;
}
#message:focus {
  outline: none;
}
#sendChat {
  width: 18%;
  margin-top: -2%;
  border: none;
  height: 3.78rem;
  border-radius: 0 0 .75rem;
}
#sendChat:focus {
  outline: none;
}
#chat_message {
  background: #e6f0c7;
  margin: 12px 12px 12px 12px;
  padding: 12px 0px 12px 12px;
  /*color: white;*/
  font-family: aclonica;
  font-size: 94%;
  border-radius: 15px;
  word-wrap: break-word;
}
.noPinDiv{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 3% 2%;
  margin-left: 3.7%;
  margin-bottom: 2%;
  width: 91.5%;
  background: linear-gradient(#004466, #66ccff);
  color: white;
  border: outset 1px;
  border-radius: 19px;
  position: relative;
}
.noPinLink {
  color: white;
}
.formErrorPin {
  width: 89%;
  margin-left: 5%;
  margin-top: .5%;
}
.pinList {
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 3% 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  width: 92%;
  background: linear-gradient(#004466, #66ccff);
  color: white;
  border: outset 1px;
  border-radius: 15%;
  position: relative;
  text-align: center;
  transition: 2s ease;
}
.pinList:nth-child(even) {
  background: linear-gradient(#ffeee6, #ffccb3);
  color: black;
}
.pinnerForm {
  margin-top: 3.5%;
}
.pinInput {
  border-radius: 6px;
  width: 75%;
  border: inset 1px;
}
.pinSubmit {
  color: white;
  background: #2c5ba5;
  width: 51%;
}
#online {
  padding-left: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3% solid SlateGrey;
  background: linear-gradient(#4d4d4d, #000000);
  color: white;
  overflow-y: auto;
  border-radius: 12px 12px 12px 12px;
  list-style-type: none;
  width: 40%;
  height: 9rem;
  margin-left: 30%;
}
.membersBox {
  padding-left: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3% solid SlateGrey;
  background: linear-gradient(#4d4d4d, #000000);
  color: white;
  overflow-y: auto;
  border-radius: 12px 12px 12px 12px;
  list-style-type: none;
  width: 40%;
  height: 9rem;
  margin-left: 30%;
}
.membersTitle {
  margin-right: 5%;
  margin-bottom: 3%;
}
.onlineTitle {
  margin-right: 5%;
  margin-bottom: 3%;
}
.pinFormTitle {
  margin: 3%;
}
.groupFooter {
  margin: 8% 3%;
  font-size: .88rem;
}
.descriptionPin {
  height: 1.85rem;
  margin-bottom: -.32%;
}
.descriptionPin:hover {
  height: 3.5rem;
}
.descriptionPin:focus {
  height: 3.5rem;
}
.pinInput{
  width: 90%;
  height: 1.5rem;
}
.groupHeading {
  margin-top: 10.5%;
}
.descriptionPin{
  width: 89.65%;
}
.pinSubmit {
  width: 90%;
  height: 2rem;
}
.memListItem {
  padding-top: 3%;
}
.onlineMember {
  padding-top: 3%;
}
.calculatorResults {
  border: none;
}
.calcDiv {
  text-align: center;
  margin: 1% 3%;
}
.resultTitle {
  background: #d6d6c2;
  padding: 2%;
  border-radius: .5rem;
}
.expenseDelete {
  background: #775249;
}
.calculatorResults, .grandTotal {
  background: #a3a375;
  padding: 2%;
  border-radius: .5rem;
  color: black;
  /* word-wrap: breakword; */
  height: auto;
  width: auto;
  list-style-type: none;
  margin-top: 1.5%;
}
.calculatorResults {
  margin-left: -9%;
}
.resultList {
    list-style-type: none;
}
.results, .totalResult {
  display: none;
}
#calcSubmit {
  width: 45%;
  padding: 2%;
  font-size: .95rem;
}
.expenseDelete {
  width: 45%;
  padding: 1% 1% 3% 1%;
  font-size: 1.05rem;
  color: white;
}
.deleteX {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1%;
  margin: 1%;
  font-size: 1.15rem;
  margin-top: -1.5%;
  text-decoration: none;
  float: right;
  color:#632212;
  background: #a3a375;
  float: right;
  border: none;
}
.deleteX:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 26rem) {
  #message {
    width: 80%;
  }
  #sendChat {
    width: 13%;
  }
}
@media only screen and (min-width: 45rem){
  .flashMessage {
    margin-top: 6%;
  }
  .sign-logInput {
    width: 45%;
  }
  .calcName {
    width: 65%;
  }
  .dashTables {
    font-size: 1rem;
  }
  /*Group page*/
  .groupDiv {
    width: 56%;
    margin-right: 1.5%;

  }
  .homePic {
    margin-top: 15%;
    width: 100%;
    border-radius: .7rem;
  }
  .pageHeader {
    margin-left: 2%;
    position: absolute;
    top: 1%;
  }
  .chatLabel {
    position: fixed;
    top: 1.5%;
    left: 73%;
  }
  .chat{
    position: fixed;
    height: auto;
    left: 59%;
    right: 0%;
    top: 15%;
    bottom: 9.5%;
    margin: 0%;
  }
  #message {
    position: fixed;
    left: 59%;
    width: 32.65%;
    margin: 0%;
    border-radius: 0 0 0 .75rem;
    height: 4rem;
    bottom: 0%;
  }
  #sendChat {
    position: fixed;
    right: 0%;
    bottom: 0%;
    height: 4.4rem;
    width: 8%;
  }
  .groupFooter{
    left: -4%;
  }
}
@media only screen and (min-width: 70rem){
  .logBut {
    margin-left: 0%;
  }
  .subtitleDiv {
    position: absolute;
    width: auto;
    left:73%;
    top:30%;
  }
  .homeDiv {
    margin-top: 18%;
  }
  .pageHeader {
    position: absolute;
    width: auto;
    left:73%;
    top: 14.5%;
    margin: 0;
  }
  .homeContainer {
    margin-top: -1.5%;
    margin-left: -1%;
  }
  .homePic {
    width: 70%;
    margin-top: 6%;
    margin-left: 2%;
    border-radius: .7rem;
  }
  .homeInfo {
    position: absolute;
    top: 68%;
    left: 6.5%;
    right: 30%;
  }
  .homeButtons {
    position: absolute;
    left: 75%;
    top: 75%;
    padding: 1.2%;
  }
  .signBut {
    margin-left: 10%;
  }
  .picDiv{
    float: right;
  }
  .groupDiv {
    margin-left: 25%;
    width: 44%;
  }
  .chatLabel {
    left: 80%;
    top: 1%;
  }
  .chat {
    left: 71%;
  }
  #message {
    left: 71.0%;
    width: 24%;
  }
  #sendChat {
    width: 5%;
  }
  .onlineTitle {
    position: absolute;
    left: .2%;
    top: 1%;
  }
  #online {
    position: absolute;
    width: 15%;
    left: -27%;
    top: 11%;
    position: absolute;
  }
  .membersTitle {
    position: absolute;
    left: .2%;
    top: 35%;
    width: 22%;
  }
  .membersBox {
    position: absolute;
    width: 15%;
    left: -27%;
    top: 51.5%;
  }
  .pinnerForm {
    margin-top: 3%;
    width: 25%
  }
  #rentalPin {
    position: absolute;
    left: .5%;
    top: 75%;
  }
  #restPin {
    position: absolute;
    left: .5%;
    top: 137%;
  }
  #transpoPin {
    position: absolute;
    left: .5%;
    top: 193%;
  }
  #activityPin {
    position: absolute;
    left: .5%;
    top: 254%;
  }
  .groupFooter {
    font-size: 1.05rem;
  }
  .pinFormTitle {
    font-size: 2em;
    margin-right: 7%;
  }
}
@media only screen and (min-width: 76rem) {
    #message {
      height: 4.15rem;
    }
    #sendChat {
      height: 4.55rem;
    }
    .homeInfo {
      top: 70%;
    }
}
@media only screen and (min-width: 82rem) {
    .homeInfo {
      top: 76%;
    }
}
@media only screen and (min-width: 88rem) {
  .homeInfo {
    top: 82%;
  }
}
@media only screen and (min-width: 97rem) {
  .homeInfo {
    top: 87%;
  }
  .homePic {
    margin-top: 3%;
  }
}
