{% extends 'layout.html' %}
{% block body %}
  <div class="pageContainer">
    <section class="dash">
      <div class="dashhead" align="center"><h1 style="font-size: 3rem;">Dashboard <br><small><small>Welcome {{session.username}}</small></small></h1></div><hr />
      <h2 class="infoTitles" text-decoration="underline">Your Groups:</h2><br />
      {% if groups %}
        <ul class="groupList">
          {% for group in groups %}
            <li class="buttonList"><a class="groupButton" href="group/{{ group.groupId }}">{{ group.groupName }}</a></li><br />
          {% endfor %}
        </ul><br /><hr />
      {% else %}
        <h5>You are not currently a member of any groups</h5><br /><hr />
      {% endif %}

      <div class="dashTables">
        <div>
          {% if admins %}
            <h2 class="infoTitles"  text-decoration="underline">Group Admin:</h2>
            <table border="1" cellpadding="5" cellspacing="5">
              <tr>
                <th>Group Name</th>
                <th>Group #</th>
                <th>Edit Group</th>
                <th>Delete Group</th>
              </tr>
              {% for admin in admins %}
                <tr>
                  <td>{{ admin.groupName }}</td>
                  <td>{{ admin.groupId }}</td>
                  <td><a href="/edit_group/{{ admin.groupId }}">Edit Group</a></td>
                  <td><a href="/delete_group/{{ admin.groupId }}">Delete Group</a></td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <br />
            <h5>You are not the admin of any groups.</h5>
          {% endif %}
        </div>
        <div>
          <br /><hr />
          <h2 class="infoTitles"  text-decoration="underline"> Profile:</h2>
          <table border="1" cellpadding="5" cellspacing="5">
            <tr>
              <th>Your Name</th>
              <th>Email</th>
              <th>Registration Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>{{profile.firstName}}  {{profile.lastName}}</td>
              <td>{{profile.email}}
              <td>{{profile.registerDate}}</td>
              <td><a href="/edit_profile" id="editProfileButton">Edit Info</a></td>
              <td><a href="/delete_profile" id="deleteProfileButton">Delete Account</a></td>
            </tr>
          </table>
        </div>
      </div>
      <hr /><br />
      <div class=dashButtonDiv>
        <a href="/newGroup" class="groupButton" alt="Make a group">Make A New Group!</a>
        <a href="/joinGroup" class="groupButton" alt="Join a group">Join A Group!</a>
      </div>
    </section>
  </div>


{% endblock %}
