{% extends 'layout.html' %}

{% block body %}
    <div class="pageContainer">
        <h1 style="text-align: center; margin-bottom: 9%; text-decoration: underline;">{{group.groupName}}<h1>
        <h1>Requests to Join:</h1>
        {% if displayPends %}
          <h6>The following users have requested to join the group:</h6>
          <div class="requestProfile">
            {% for pend in displayPends %}
              <form class="" action="" method="POST">
                <p><strong>Username:</strong> {{ pend.username }}</p>
                <p><strong>Full Name:</strong> {{ pend.firstName }} {{ pend.lastName }}</p>
                <p>{{ requestForm.hidden_tag() }}</p>
                <input type="hidden" value={{ pend.username }} name="username">
                <p>{{ requestForm.accept(class='sign-logSubmit accept') }}  {{ requestForm.decline(class='sign-logSubmit deny') }}</p>
              </form>
            {% endfor %}
          </div>
        {% else %}
          <p>There are currently no pending requests to join the group</p>
        {% endif %}
        <h1>Invite Trip Members</h1>
        <p>If a trip member does not have a TripLounge account, provide their email
          address, we'll send them an email, and get them all set up to join the group!!
         </p>
        <h3>Email a new user</h3>
        <form method="POST" action="">
            <div>{{ formOne.hidden_tag() }}</div>
            <div>{{ formOne.email1(class='sign-logInput') }}</div>
            <div>{{ formOne.submit1(class='sign-logSubmit') }}</div>
        </form>
        <br />
        <p>If a trip member is already signed up with TripLounge, please use either their email, or
        their username on TripLounge to send an invite to the trip group</p>
        <h3>Invite a user by username</h3>
        <p>If you know the users username, use this method. This does not send an email, it sends a group invite to the users dashboard</p>
        <form method="POST" action="">
            <div>{{ formTwo.hidden_tag() }}</div>
            <div>{{ formTwo.username(class='sign-logInput') }}</div>
            <div>{{ formTwo.submit2(class='sign-logSubmit') }}</div>
        </form>
        <h3>Invite an user by email</h3>
        <p>If you know the users email, use this method. This does not send an email, it sends a group invite to the users dashboard</p>
        <form method="POST" action="">
            <div>{{ formThree.hidden_tag() }}</div>
            <div>{{ formThree.email2(class='sign-logInput') }}</div>
            <div>{{ formThree.submit3(class='sign-logSubmit') }}</div>
        </form>
      </div>
    <script src="{{url_for('static', filename = 'app.js')}}"></script>


{% endblock %}
