{% extends 'layout.html' %}
{% block body %}
  <div class="groupDiv">
      <h1 align="center" class='groupHeading'>Group</h1>
      <div id="groupHeader">
        <h1 style="text-decoration: underline;">{{ group.groupName }}</h1>
          <p class='groupHeadDesc'>{{ group.description }}</p>
          <p>Group Creator: <strong>{{ group.admin }}</strong></p>
      </div>
      <br /><br />
      <!--<div class="picDiv">
        <img class="groupPic" src={{url_for('static', filename = 'images/group_pic.jpeg')}} alt="group-pic" width="50%" />
      </div>-->
      <h1 align="center" class="chatLabel">Chat</h1>
      <div class="chat" id="chat">
           {% for line in history %}
              <div id="chat_message"><strong style="text-decoration: underline;">{{ line.username }}</strong>: {{ line.message }}</div>
          {% endfor %}
      </div>
      <div>
        <form id="messageForm">
          <div class="group-form">
            <textarea placeholder="Your Message here:" id="message"></textarea>
            <input type="submit" class="sign-logSubmit" id="sendChat" value="Send"/>
          </div>
        </form>
      </div>
      <div id="listDiv">
        <h3 align="center" class="onlineTitle">Online Members</h3>
        <ul class="online" id="online">
        </ul>
      </div>
      <div>
        <h3 align="center" class="membersTitle">Group Members</h3>
        <ul class="membersBox">
          {% for member in members %}
            <li class="memListItem">{{ member }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="pinRow">
        <h2 align="center" class="pinTitle" text-decoration="underline">Rentals:</h2><br />
        {% if renPins %}
          {% for pin in renPins %}
            <div class="pinList" style:"border: 1px solid black">
              <h3 text-decoration="underline"><large>{{ pin.lodgeName }}:</large></h3>
              <p> {{ pin.rooms }} Bedrooms, ${{ pin.price }} per night.</p>
              <p> {{ pin.description }}</p>
              <p>Posted by: <strong>{{ pin.creator }}</strong></p>
              <a class="pinLink" target="_blank" href="{{ pin.link }}">View at site</a>
              <br /><br />
              {% if user == group.admin or user == pin.creator %}
                <p><a href="/edit_rental_pin/{{ id }}/{{ pin.lodgeName }}" class="pinLink">Edit Pin</a>   <a  href="/delete_rental_pin/{{ id }}/{{ pin.lodgeName }}" class="pinLink">  Delete Pin</a></p>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <div class="noPinDiv"><a href="#rentalPin">You can pin rental here!</a></div>
        {% endif %}
      </div><br />
      <div class="pinRow">
        <h2 align="center" class="pinTitle" text-decoration="underline">Restaurants and Clubs:</h2><br />
        {% if restPins %}
          {% for pinTwo in restPins %}
            <div class="pinList">
              <h3 text-decoration="underline"><large>{{ pinTwo.restName }}:</large></h3>
              <p> {{pinTwo.type}}</p>
              <p> {{ pinTwo.description }}</p>
              <p>Posted by: <strong>{{ pinTwo.creator }}</strong></p>
              <a class="pinLink" target="_blank" href="{{ pinTwo.link }}">View at site</a>
              <p>Posted by: <strong>{{ pinTwo.creator }}</strong></p>
              <br />
              {% if user == group.admin or user == pinTwo.creator %}
                <p><a href="/edit_restaurant_pin/{{ id }}/{{ pinTwo.restName }}" class="pinLink">Edit Pin</a>   <a  href="/delete_restaurant_pin/{{ id }}/{{ pinTwo.restName }}" class="pinLink">  Delete Pin</a></p>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <div class="noPinDiv"><a class="noPinLink" href="#restPin">How about pinning a restaurant or nightclub!</a></div><br />
        {% endif %}
      </div>
      <div class="pinRow">
        <h2 align="center" class="pinTitle" text-decoration="underline">Transportation:</h2><br />
        {% if transpoPins %}
          {% for pinThree in transpoPins %}
            <div class="pinList">
              <h3 text-decoration="underline"><large>{{ pinThree.transpoName }}:</large></h3>
              <p>{{ pinThree.date }}</p>
              <p>{{ pinThree.price }}</p>
              <p>{{ pinThree.description }}</p>
              <p><a class="pinLink" target="_blank" href="{{ pinThree.link }}">View at site</a></p>
              <p>Posted by: <strong>{{ pinThree.creator }}</strong></p>
              <br />
              {% if user == group.admin or user == pinThree.creator %}
                <p><a href="/edit_transportation_pin/{{ id }}/{{ pinThree.transpoName }}" class="pinLink">Edit Pin</a>   <a  href="/delete_transportation_pin/{{ id }}/{ pinThree.transpoName }}" class="pinLink">  Delete Pin</a></p>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <div class="noPinDiv"><a class="noPinLink" href="#transpoPin">You can pin differrent transportation too!</a></div><br />
        {% endif %}
      </div>
      <div class="pinRow">
        <h2 align="center" class="pinTitle" text-decoration="underline">Activities and Events:</h2><br />
        {% if activityPins %}
          {% for pinFour in activityPins %}
            <div class="pinList">
              <h3 text-decoration="underline"><large>{{ pinFour.activityName }}:</large></h3>
              <p>{{ pinFour.type }} activity</p>
              <p>{{ pinFour.description }}</p>
              <p><a class="pinLink" target="_blank" href="{{ pinFour.link }}">View at site</a></p>
              <p>Posted by: <strong>{{ pinFour.creator }}</strong></p>
              <br />
              {% if user == group.admin or user == pinFour.creator %}
                <p><a href="/edit_activity_pin/{{ id }}/{{ pinFour.activityName }}" class="pinLink">Edit Pin</a>   <a  href="/delete_activity_pin/{{ id }}/{{ pinFour.activityName }}" class="pinLink">  Delete Pin</a></p>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <div class="noPinDiv"><a class="noPinLink" href="#activityPin">This area could use an activity pin or two!</a></div><br />
        {% endif %}
      </div>
      <div class='calcDiv'>
        <h3 text-align='center'>Expense Calculator</h3>
        <p>Add different expenses to keep a running estimate of expected expenses.
          Enter the number of recurring payments, as well as the amount of people
          you expect to split the cost of each expense, and the calculator will do the math.
        </p>
        <!-- <input type="text" class="sign-logInput calcName" placeholder="Name"> -->
        <input type="number" class="sign-logInput" id="calcPrice" placeholder="Price">
        <input type="number" class="sign-logInput" id="calcDays" placeholder="Recurring payments">
        <input type="number" class="sign-logInput" id="calcDivideBy" placeholder="# of people to split">
        <select class="sign-logInput" id="calcSelect">
          <option align="center" selected value="">Type:</option>
          <option value="rental">Rental</option>
          <option value="food/drink">Food/Drink</option>
          <option value="transportation">Transportation</option>
          <option value="activity">Activity</option>
          <option value="other">Other</option>
        </select>
        <button class="sign-logSubmit" id="calcSubmit" style="width: 45%;">Calculate</button>
      </div>
      <div class="calcDiv results">
        <h3>Individual Expenses</h3>
        <ol class="resultList">
          <!-- <li cl5ss="calculatorResults" id="expenseResults" type="text" style:"display:none;"></li> -->
        </ol>
        <button class="expenseDelete sign-logInput">Clear All Expenses</button>
        <div class="totalResult">
          <h3>Total Expenses</h3>
        </div>
      </div>
      <div>
        <form method="POST" action="" align="center">
          <div class="pinnerForm" id="rentalPin"><h3 class="pinFormTitle" align="center">Pin a Rental</h3>
            <div>{{ pinForm.hidden_tag() }}</div>
            <div>{{ pinForm.rentalName(class="pinInput") }}</div>
            <div>{{ pinForm.price(class="pinInput") }}</div>
            <div>{{ pinForm.rooms(class="pinInput") }}</div>
            <div>{{ pinForm.description(class="pinInput descriptionPin") }}</div>
            <div>{{ pinForm.link(class="pinInput") }}</div>
            <div>{{ pinForm.submit1(class="pinInput pinSubmit") }}</div>
          </div>
        </form>
      </div>
      <div>
        <form method="POST" action="" align="center">
          <div class="pinnerForm" id="restPin"><h3 class="pinFormTitle" align="center">Pin a Restaurant or Nightclub</h3>
            <div>{{ pinFormTwo.hidden_tag() }}</div>
            <div>{{ pinFormTwo.restName(class="pinInput") }}</div>
            <div>{{ pinFormTwo.description2(class="pinInput descriptionPin") }}</div>
            <div>{{ pinFormTwo.link2(class="pinInput") }}</div>
            <div>{{ pinFormTwo.type(class="pinInput selectorPin") }}</div>
            <div>{{ pinFormTwo.submit2(class="pinInput pinSubmit") }}</div>
          </div>
        </form>
      </div>
      <div>
        <form method="POST" action="" align="center">
          <div class="pinnerForm" id="transpoPin"><h3 class="pinFormTitle" align="center">Pin Transportation</h3>
            <div>{{ pinFormThree.hidden_tag() }}</div>
            <div>{{ pinFormThree.name(class="pinInput") }}</div>
            <div>{{ pinFormThree.date(class="pinInput") }}</div>
            <div>{{ pinFormThree.price3(class="pinInput") }}</div>
            <div>{{ pinFormThree.description3(class="pinInput descriptionPin") }}</div>
            <div>{{ pinFormThree.link3(class="pinInput") }}</div>
            <div>{{ pinFormThree.type(class="pinInput selectorPin") }}</div>
            <div>{{ pinFormThree.submit3(class="pinInput pinSubmit") }}</div>
          </div>
        </form>
      </div>
      <div>
        <form method="POST" action="" align="center">
          <div class="pinnerForm" id="activityPin"><h3 class="pinFormTitle" align="center">Pin an Activity</h3>
            <div>{{ pinFormFour.hidden_tag() }}</div>
            <div>{{ pinFormFour.activityName(class="pinInput") }}</div>
            <div>{{ pinFormFour.price(class="pinInput") }}</div>
            <div>{{ pinFormFour.description(class="pinInput descriptionPin") }}</div>
            <div>{{ pinFormFour.link(class="pinInput") }}</div>
            <div>{{ pinFormFour.type(class="pinInput selectorPin") }}</div>
            <div>{{ pinFormFour.submit4(class="pinInput pinSubmit") }}</div>
          </div>
        </form>
      </div>
      <footer class="groupFooter">
        <div>
          <table class="groupTable" border="" cellpadding="1" cellspacing=".5" align="center">
            <tr>
              <th>Group Name</th>
              <th>Group Admin</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Group #</th>
              <th>Create Date</th>
            </tr>
            <tr>
              <td>{{group.groupName}}</td>
              <td>{{group.admin}}</td>
              <td>{{group.startDate}}</td>
              <td>{{group.endDate}}</td>
              <td id="groupId" align="center">{{group.id}}</td>
              <td>{{group.createDate}}</td>
            </tr>
          </table>
        </div>
      </footer>
  </div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
  <script src="{{url_for('static', filename = 'group.js')}}"></script>
  <script type="text/javascript" charset="utf-8">
    // $(function()
    {
        // Declare variables
        let id = document.querySelector('#groupId');
        let socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        let message = document.querySelector('#message');
        let chat = document.querySelector('#chat');
        let groupPageFlash = document.querySelector('.flashMessage');
        let online = document.querySelector('#online')
        let arr = [];
        let arrTwo = [];
        let mems = document.querySelectorAll('.memListItem');
        // List of group members
        for (i=0;i<mems.length;i++) {
            arr.push(mems[i].innerHTML);
        }
        // Event listener for chat submit
        document.querySelector('#messageForm').addEventListener('submit', sendMessage);
        // Function for submitting chat message, sends message to server
        function sendMessage(e) {
          e.preventDefault();
          socket.emit('send message', message.value, id.innerHTML);
          message.value = ('');
        }
        // On connect callback
        socket.on('on connect', function(data) {
            // Create chat element that says user connected.
            let elem = document.createElement('div');
            elem.innerHTML = '<strong style="text-decoration: underline;">'+data.user+'</strong>:  '+data.msg;
            elem.id = 'chat_message';
            chat.appendChild(elem);
            elem.scrollIntoView();
            // Empty out the list of members online.
            while(online.firstChild ){
                online.removeChild(online.firstChild );
            }
            // Remove all non unique users
            newUsers = Array.from(new Set(data.users));

            // Create elements to display all online users
            for(i=0; i < newUsers.length;i++) {
                  let item = document.createElement('li');
                  item.className = 'onlineMember';
                  let tnode = document.createTextNode(data.users[i]);
                  item.appendChild(tnode);
                  online.appendChild(item);
            }
        })
        // On disconnect callback
        socket.on('on disconnect', function(data) {
            // Create chat element that says user disconnected
            let elem = document.createElement('div');
            elem.innerHTML = '<strong style="text-decoration: underline;">'+data.user+'</strong>:  '+data.msg;
            elem.id = 'chat_message';
            chat.appendChild(elem);
            elem.scrollIntoView();
            // Clear out all online members from list
            while(online.firstChild ){
                online.removeChild(online.firstChild );
            }
            // Create all elements for remaining users online
            for(i=0; i < data.users.length;i++){
                let item = document.createElement('li');
                item.className = 'onlineMember';
                let tnode = document.createTextNode(data.users[i]);
                item.appendChild(tnode);
                online.appendChild(item);
            }
        })
        // Callback Function to display the message
        socket.on('new message', function(data) {
            // Create chat element and append into chat.
            let elem = document.createElement('div');
            elem.innerHTML = '<strong style="text-decoration: underline;">'+data.user+'</strong>:  '+data.msg;
            elem.id = 'chat_message';
            chat.appendChild(elem);
            elem.scrollIntoView();
        })
        if (document.querySelector('.flashMessage') != null){
            document.querySelector('.flashMessage').style.marginLeft = '24%';
            document.querySelector('.flashMessage').style.marginRight = '30%';
        }
    }
  </script>

{% endblock %}
