{% extends 'layout.html' %}

{% block body %}
    <img class="homePic" src={{url_for('static', filename = 'images/download.jpg')}} alt="home-page-pic" />
    <div class="nameDiv">
        <h1 class="pageHeader">TripLounge</h1>
    </div>
    <div class="subtitleDiv">
      <!-- <img class="homePic" src={{url_for('static', filename = 'images/group_pic.jpeg')}} alt="home-page-pic" width="83%" align="center" /> -->
        <h3>A trip planning web application, for groups!</h3>
    </div>
    <br>
    <div class="homeDiv">
        <h4 class="homeInfo">Form groups with travel partners, to chat, set itineraries,
            share rental information and plan nights out! TripHub makes it
            easy for all travel members to stay connected before, during and after
            your adventures!
        </h4>
    </div>
    <div class="homeButtonDiv">
        {% if session.logged_in == NULL %}
            <a href="/login" class="homeButtons logBut" align="center">Login</a>
            <a href="/signup" class="homeButtons signBut">Sign Up</a>
        {% endif %}
    </div>
{% endblock %}
