{% extends 'layout.html'%}

{% block body%}
  <div class="pageContainer">
    <h1 class="loginHeader">Join A Group!!</h1>
    <form action="" method="POST">
      <h3>Join By Password</h3>
      <p>If you know the name of the group and password, entr them below and you can join straight away.
      <div>{{ form.hidden_tag() }}</div>
      <div>{{ form.name(class="sign-logInput") }}</div>
      <div>{{ form.password(class="sign-logInput") }}</div>
      <div>{{ form.submit(class="sign-logSubmit") }}</div>
    </form>
    <form action="" method="POST">
      <h4>Join By Request</h4>
      <p>If you know the group name, but not the password, you can send a group join request to the
      group admin. Add a message so the group admin will know who you are.</p>
      <div>{{ formTwo.hidden_tag() }}</div>
      <div>{{ formTwo.name(class="sign-logInput") }}</div>
      <div>{{ formTwo.messageJoin(class="sign-logInput") }}</div>
      <div>{{ formTwo.submit2(class="sign-logSubmit") }}</div>
    </form>
    <footer>
      No group made yet?
      <a href="/newGroup" alt="Sign-up">Make one!</a>
    </footer>
  </div>
{% endblock%}
