{% extends 'layout.html' %}

{% block body %}
    <div class="pageContainer">
        <h1 class="loginHeader">Request Password Reset</h1>
        <p>Enter the email for the associated account, an email will be sent to that account, with a
        password reset link. Follow the link to reset your passwod. You will have 10 minutes to do so
        or the link will expire.</p>
        <form action="" method="POST">
            <div>{{ form.hidden_tag() }}</div>
            <div>{{ form.email(class="sign-logInput") }}</div>
            {% for message in form.email.errors %}
                <div class='formError'>  {{ message }} </div>
            {% endfor %}
            <div>{{ form.submit(class="sign-logSubmit") }}
        </form>
    </div>
    <script src="{{url_for('static', filename = 'app.js')}}"></script>
{% endblock %}
