{% extends 'layout.html' %}

{% block body %}
  <div class="pageContainer">
    <h1 class="loginHeader">Register:</h1>
      <form method='POST' action=''>
        <div>{{ form.hidden_tag() }}</div>
        <div>{{ form.firstName(class="sign-logInput") }}</div>
        {% for message in form.firstName.errors %}
          <div class='formError'>  {{ message }} </div>
        {% endfor %}
        <div>{{ form.lastName(class="sign-logInput") }}</div>
        {% for message in form.lastName.errors %}
          <div class='formError'>  {{ message }} </div>
        {% endfor %}
        <div>{{ form.username(class="sign-logInput") }}</div>
        {% for message in form.username.errors %}
          <div class='formError'>  {{ message }} </div>
        {% endfor %}
        <div>{{ form.email(class="sign-logInput") }}</div>
        {% for message in form.email.errors %}
          <div class='formError'>  {{ message }} </div>
        {% endfor %}
        <div>{{ form.password(class="sign-logInput") }}</div>
        {% for message in form.password.errors %}
          <div class='formError'>  {{ message }} </div>
        {% endfor %}
        <div>{{ form.confirm(class="sign-logInput") }}</div>
        <div>{{ form.submit(class="sign-logSubmit") }}</div>
      </form>
    </div>
    <script src="{{url_for('static', filename = 'app.js')}}"></script>
{% endblock %}
