{% extends 'layout.html' %}

{% block body %}
<body>
  <h1>Sign <strong>Up</strong></h1>
    <input type="firstName" id="inputFirstName" placeholder="First Name:"/>
    <input type="lastName" id="inputLastName" placeholder="Last Name:"/>
    <br><br>
    <input type="password" id="inputPassword" placeholder="Password:"/>
    <input type="password" id="inputPassword" placeholder="Re-Type Password:"/>
    <br><hr>
    <input type="email" id="inputEmail" placeholder="Email address:"/>
    <input type="userName" id="inputUserName" placeholder="Username:">
    <hr><br>
    <button type="submit" alt="Submit">Sign Up!</button>
  </body>


{% endblock %}
