<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Email Verification</title>
    <style>
      body {
        margin: 1% 2.5%;
        background-color: blue;
      }
      h1 {
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to TripSpace!!</h1>
    <p>Hi and welcome to TripSpace! Just one step left until you can start planning trips.
    Click the link below or manually type the URL into your web browser. http:localhost:5000/validate</p>
    <a href="http://localhost:5000/validate_email">Click here</a>

  </body>
</html>
