<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Email Verification</title>
  </head>
  <body>
    <h1>Welcome to TripLounge {{ profile.username }}!!</h1>
    <p>
    <p>Hi and welcome to TripLounge! Just one step left until you can start planning trips.
    Click the link below.
    <a href="{{ url_for('validate_email', token=token, _external=True) }}"><br>
        click here
    </a>
    </p>
    <p>Alternatively, you can paste the following link in your browser's address bar:</p>
    <p>{{ url_for('validate_email', token=token, _external=True) }}</p>
    <p>If you have not requested a password reset simply ignore this message.</p>
    <p>Sincerely,</p>
    <p>The TripLounge team.
  </body>
</html>
